## Create Cassandra Keyspace and Table and Insert Sample Data

### Install Cassandra Driver

In [ ]:
pip install cassandra-driver

### Connect to the Cosmos DB Cassandra Cluster

### Set Cluster, Username, Password, Keyspace & Table values

In [3]:
strCluster="testcosmosdbaccount.cassandra.cosmos.azure.com"
strUsername="testcosmosdbaccount"
strPassword="password"
strKeyspace="Test"
strTable="cassandratest"

### Create Keyspace and Table in the Cluster

In [ ]:
from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from ssl import PROTOCOL_TLSv1_2, SSLContext, CERT_NONE

ssl_context = SSLContext(PROTOCOL_TLSv1_2)
ssl_context.verify_mode = CERT_NONE
auth_provider = auth_provider = PlainTextAuthProvider(username=strUsername, password=strPassword)
cluster = Cluster([strCluster], port = 10350, auth_provider=auth_provider, ssl_context=ssl_context)
session = cluster.connect()
print ("\nCreating Keyspace")
session.execute('CREATE KEYSPACE IF NOT EXISTS '+strKeyspace+' WITH replication = {\'class\': \'NetworkTopologyStrategy\', \'datacenter\' : \'1\' }');
print ("\nCreating Table")
session.execute('CREATE TABLE IF NOT EXISTS '+strKeyspace+'.'+strTable+' (user_id int PRIMARY KEY, user_name text, user_bcity text)');

### Alter table - Reset TTL Value at Row level

In [ ]:
session.execute('ALTER TABLE '+strKeyspace+'.'+strTable+' WITH  default_time_to_live= 60')

### Insert sample data into the table

In [ ]:
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [1,'Lybkov','Seattle'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [2,'Doniv','Dubai'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [3,'Keviv','Chennai'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [4,'Ehtevs','Pune'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [5,'Dnivog','Belgaum'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [6,'Ateegk','Narewadi'])
session.execute("INSERT INTO  "+strKeyspace+"."+strTable+"  (user_id, user_name , user_bcity) VALUES (%s,%s,%s)", [7,'KannabbuS','Yamkanmardi'])

### Install Pretty table for printing rows

In [ ]:
pip install prettytable

### Print sample data

In [ ]:
from prettytable import PrettyTable
def PrintTable(rows):
    t = PrettyTable(['UserID', 'Name', 'City'])
    for r in rows:
        t.add_row([r.user_id, r.user_name, r.user_bcity])
    print (t)
print ("\nSelecting All")
rows = session.execute('SELECT * FROM '+strKeyspace+"."+strTable+'')
PrintTable(rows)

### Display Table Schema

In [ ]:
from prettytable import PrettyTable
def printTableSchema(rows):
    t = PrettyTable(['keyspace_name', 'table_name', 'column_name','clustering_order','column_name_bytes','kind','position','type'])
    for r in rows:
        t.add_row([r.keyspace_name, r.table_name, r.column_name,r.clustering_order,r.column_name_bytes,r.kind,r.position,r.type])
    print (t)
print ("\nSelecting All")
rows=session.execute('SELECT * FROM system_schema.columns WHERE keyspace_name = \''+strKeyspace+'\' AND table_name = \''+strTable+'\'')
printTableSchema(rows)